.dub
dub.selections.json
/extra.selections.json

libsymmetry-imap.*
/symmetry-imap-test-unittest*
example/imap-example

tags

# SIL REPL artefacts.
replrc
SIL.log
SIL_user.log
history.txt

# coverage files
*.lst
